<!DOCTYPE html>
<html>
<title> MIT Blueprint Project </title>
<head>
<body>
<nav>
  <ul>
<li><a href="blueprint.html">Home</a> </li>
<li><a href="Spendings.html">Spendings</a> </li>
  </ul>
</nav>
<br>
<h1> Welcome to Budget Buddy! </h1> <br>
<img id="logo" src="budget-buddy-logo.png"> <br> <br>

<h2><blockquote> What We Do</h2>
<p1><blockquote> We help you organize your finances so that you will never have to stress about budgets anymore! <br>
You can access some of our website's features with the navigation bar above! </p1>
</head>

<main>
<br>
<h2> Our Mission </h2>
We want to give people the means and the tools to organize take charge and consolidate their fiscal security. <br> The best way to do this is by making them responsible for organizing their own budgets. <br><br>
<br>


<div id=”footer”>
<h2>Contact Us!</h2>
<p id="contact"> dennisliu010906@gmail.com <br> 
lisa20050802@gmail.com <br>
joeethan2005@gmail.com <br>
bbrianchenn@gmail.com</p>
</div>


</main>
</body>
</html>

